/* Background image style */
body {
    background-image: url('https://raw.githubusercontent.com/nijmil/convention-pwa/master/assets/Keyhole.jpg'); /* Absolute URL for background image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background in place when scrolling */
    background-position: center; /* Centers the image */
    color: #fff; /* Sets text color to white for readability */
}

/* Logo style */
.logo {
    max-width: 270px; /* Adjust this to change the logo size */
    height: auto; /* Maintains aspect ratio */
    margin: 20px auto 70px; /* Change bottom margin to increase space below logo */
    display: block; /* Centers the image */
}


/* Container style without background */
.container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* Remove background for full transparency */
    margin-top: 100px; /* Adjust this to add more space above the entire container */
}

/* Button style */
button {
    display: block; /* Change from inline-block to block */
    width: 100%;
    max-width: 130px; /* This will still limit the width, but buttons will be on separate lines */
    padding: 12px;
    margin: 20px auto 5px; /* Adjust the bottom margin to add space below each button */
    background-color: #f3d7cc;
    color: #ce3513;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



/* Hover effect for buttons */
button:hover {
    background-color: #f6b095;
}

/* Tabs style */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #f3d7cc;
    color: #ce3513;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #135ab8;
}

/* Day content */
.day-content {
    display: none;
    text-align: left;
}

/* Workshop style */
.workshop {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #000; /* Change text color to black for better contrast */
    text-align: center; /* Center the text inside the workshop container */
}
